@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #1a1a19;

  color: #f6f1e9;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-k-header.is-open .t-k-header-background {
  left: 0;
}
.t-k-header-button-wrapper {
  margin-left: auto;
}
.t-k-header-icon {
  display: none;
}

.t-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-k-navigation-list.is-open {
  right: 0;
}
.t-k-header-icon-menu {
  display: block;
}

.t-k-header-icon-button.is-open .t-k-header-icon-menu {
  display: none;
}

.t-k-header-icon-button.is-open .t-k-header-icon-close {
  display: block;
}

.t-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;

  background: #0e0e0e;
}

.t-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0e0e0e;
}
.t-k-header.is-open .t-k-header-background {
  left: 0;
}
.t-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-k-header-icon-menu {
  display: block;
}

.t-k-header-icon-button.is-open .t-k-header-icon-menu {
  display: none;
}

.t-k-header-icon-button.is-open .t-k-header-icon-close {
  display: block;
}

.t-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 8px 16px;
  position: relative;
}

.t-k-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 756px;
  transition: 0.3s;
  z-index: 999;
  padding: 56px 32px;
  gap: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
}

.t-k-navigation-list.is-open {
  right: 0;
}

.t-k-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #faf8f2;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.t-k-navigation-link:hover,
.t-k-navigation-link:focus {
  color: #df6d14;
  border-bottom: 1px solid #df6d14;
}

.t-k-header.is-open {
  background-color: transparent;
}

.t-k-navigation-img {
  display: none;
}

@media screen and (min-width: 1205px) {
  .t-k-navigation-img {
    display: flex;
    margin-right: 70px;
  }
  .t-k-header-icon-title {
    display: none;
  }
  .t-k-header-button-wrapper {
    display: none;
  }
  .t-k-header {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .t-k-header-background {
  }
  .t-k-header-icon-button {
    display: none;
  }
  .t-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-k-navigation-link {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .t-k-navigation-item-desk {
    display: none;
  }
}
.t-k-home {
  width: 375px;
  height: 1894px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_and_features_section\ \(1\).png");
  margin: auto;
}
.t-k-home-container {
  width: 375px;
  padding: 176px 16px 0px;
  margin: auto;
}

.t-k-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.t-k-home-title {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-k-home-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 16px 0 32px;
}
.t-k-home-text-two {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-k-home-div {
  display: flex;
}
.t-k-home-link {
  transition: all 0.3s ease-in-out;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  width: 343px;
  height: 56px;
  padding-top: 16px;

  padding-bottom: 16px;
  background: #df6d14;
  color: #f6f1e9;
  text-align: center;
  text-decoration: none;
}

.t-k-home-link:hover {
  background: #c65700;
}

.t-k-uniqueness-list {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.t-k-uniqueness-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 224px;
  height: 224px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  gap: 24px;
  border-bottom: 1px solid #df6d14;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.t-k-uniqueness-img {
  width: 80px;
}

@media screen and (min-width: 1205px) {
  .t-k-home {
    width: 1440px;
    height: 940px;
    background-image: url("/img/home/hero_and_features_section\ \(2\).png");
  }
  .t-k-home-container {
    width: 1440px;
    padding: 176px 88px 0px;
  }

  .t-k-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 724px;
  }

  .t-k-home-title {
    font-family: Cinzel;
    font-weight: 400;
    font-style: Regular;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 58px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-k-home-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 24px 0 48px;
    width: 616px;
  }
  .t-k-home-text-two {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
  }

  .t-k-home-link {
    width: 188px;
    height: 56px;

    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-k-uniqueness-list {
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    gap: 36px;
  }

  .t-k-uniqueness-item {
    width: 224px;
    height: 224px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    gap: 24px;
    border-bottom-width: 1px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}
.t-k-about {
  margin: auto;
  width: 375px;
  height: 632px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Container\ \(2\).png");
}
.t-k-about-container {
  width: 375px;
  padding: 60px 16px 0px;
  margin: auto;
}
.t-k-about-title {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.t-k-about-title-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}

.t-k-about-text-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding-top: 24px;
}
.t-k-about-text-bold {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1205px) {
  .t-k-about {
    width: 1440px;
    height: 643px;
    background-image: url("/img/Container\ \(3\).png");
  }
  .t-k-about-container {
    width: 1440px;
    padding: 196.5px 844px 0 88px;
  }
  .t-k-about-title {
    font-family: Cinzel;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .t-k-about-title-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-k-about-text-bold {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.t-k-why {
  width: 375px;
  margin: auto;
  height: 930px;
  background-image: url("/img/why/tur_section.png");
}
.t-k-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-k-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 740px;
}
.t-k-why-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 32px;
  border-right: 1px solid #df6d14;
  height: 100%;
  padding-bottom: 16px;
}
.t-k-why-img {
  object-fit: cover;
  object-position: center;
  width: 155px;
  height: 100%;
}

.t-k-why-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  padding: 16px 0 8px;
}
.t-k-why-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  display: flex;
  align-items: start;
  gap: 8px;
  padding-top: 8px;
}

@media screen and (min-width: 1205px) {
  .t-k-why {
    width: 1440px;
    margin: auto;
    height: 734px;
    background-image: url("/img/why/tur_section\ \(1\).png");
  }
  .t-k-why-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px;
  }
  .t-k-why-list {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
    height: 476px;
  }
  .t-k-why-item {
    position: relative;
    display: flex;
    align-items: start;
    gap: 32px;
    border-right: 1px solid #df6d14;
    height: 100%;
    padding-bottom: 16px;
    width: 616px;
    height: 184px;
    gap: 32px;
    border-right-width: 1px;
    padding-right: 16px;
  }
  .t-k-why-img {
    width: 292px;
    height: 184px;
  }

  .t-k-why-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 16px 0 8px;
  }
  .t-k-why-text {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-k-how {
  margin: auto;
  background: linear-gradient(180deg, #1a1a19 0%, #163020 100%);
}
.t-k-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px 76px;
  color: #ffffff;
}

.t-k-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.t-k-how-item {
  width: 292px;
  height: 375px;
}

.t-k-how-text-bold {
  margin-top: -96px;
  height: 94px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  display: flex;
  align-items: end;
  gap: 19px;
  justify-content: space-between;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1205px) {
  .t-k-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 88px;
  }

  .t-k-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }

  .t-k-how-text-bold {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-k-characters {
  margin: auto;
  width: 375px;
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Zamanda_section.png");
}
.t-k-characters-container {
  padding: 60px 16px;
  margin: auto;
  width: 375px;
}
.t-k-characters-list {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 8px;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1205px) {
  .t-k-characters {
    width: 1440px;
    height: 354px;
    background-image: url("/img/Zamanda_section\ \(1\).png");
  }
  .t-k-characters-container {
    padding: 100px 88px 0 88px;
    margin: auto;
    width: 1440px;
  }

  .t-k-characters-list {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-k-reviews {
  margin: auto;
  background: linear-gradient(180deg, #1a1a19 0%, #163020 100%);
}
.t-k-reviews-container {
  margin: auto;
  padding: 60px 16px 34px;
  width: 375px;
}
.t-k-reviews-list {
  padding: 40px 0;
}

.t-k-reviews-item {
  margin: 0 10px;
  width: 343px;
  height: 244px;

  padding: 24px;
  border: 1px solid #f6f1e9;
  backdrop-filter: blur(20px);
  color: #ffffffcc;
}
.t-k-reviews-text {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  height: 110px;
}
.t-k-reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 32px;
}
.t-k-reviews-img {
  width: 54px;
}
.t-k-reviews-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}
.t-k-reviews-text-bold-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 4px;
}
.t-k-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.t-k-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.t-k-gallery-button-icon {
  width: 42px;
  height: 22px;
}
.t-k-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1205px) {
  .t-k-reviews-container {
    margin: auto;
    padding: 100px 88px 38px;
    width: 1440px;
  }
  .t-k-reviews-list {
    padding: 76px 0 40px;
  }

  .t-k-reviews-item {
    margin: 0 16px;
    width: 616px;
    border-width: 1px;
    padding: 24px;

    height: 206px;
  }
  .t-k-reviews-text {
    font-family: Open Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    height: 72px;
  }

  .t-k-reviews-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-k-reviews-text-bold-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .t-k-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}

.t-k-faq-container {
  padding: 60px 16px;
  width: 375px;
  margin: auto;
}
.t-k-faq-list {
  padding: 40px 0;
}

.t-k-faq-item {
  width: 292px;
  height: 375px;
  margin: 0 12px;
}
.t-k-faq-text {
  margin-top: -128px;
  width: 292px;
  height: 128px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.t-k-faq-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (min-width: 1205px) {
  .t-k-faq-container {
    padding: 100px 88px;
    width: 1440px;
    margin: auto;
  }

  .t-k-faq-list {
    padding: 76px 0 0;
  }

  .t-k-faq-item {
    margin: 0 16px;
  }
  .t-k-gallery-faq {
    display: none;
  }
}

.t-k-gallery-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.t-k-gallery-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.t-k-gallery-item {
  width: 343px;
  height: 224px;
  gap: 24px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  border-bottom: 1px solid #df6d14;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.t-k-gallery-image {
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 1205px) {
  .t-k-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px;
  }
  .t-k-gallery-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .t-k-gallery-item {
    width: 292px;
    height: 224px;
    gap: 24px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-bottom-width: 1px;
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
}

.t-k-features {
  margin: auto;
  width: 375px;
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/features/contact_section.png");
}

.t-k-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 26px;
}
.t-k-features-text {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #df6d14;
  padding: 40px 0 0px;
}
.t-k-features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
}
.t-k-features-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.t-k-features-text-bold {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;

  color: #ffffffcc;
}
@media screen and (min-width: 1205px) {
  .t-k-features {
    width: 1440px;
    margin: auto;
    height: 474px;
    background-image: url("/img/features/contact_section\ \(1\).png");
  }
  .t-k-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 88px 0;
  }
  .t-k-features-text {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding: 80px 0 0px;
  }
  .t-k-features-list {
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
  }
  .t-k-features-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .t-k-features-text-bold {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }
}

.t-k-container {
  padding: 116px 16px 60px;
  width: 375px;
  margin: auto;
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-k-container h1 {
  font-family: Cinzel;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.t-k-container h2 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.t-k-container h3 {
  margin-top: 10px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
}

.t-k-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.t-k-container ul li {
  margin-bottom: 10px;
}
.t-k-container p {
  margin-top: 10px;
}
.t-k-container a {
  text-decoration: none;
  color: #005dff;
  transition: all 0.3s ease-in-out;
}

.t-k-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1205px) {
  .t-k-container {
    padding: 160px 212px 96px;
    width: 1440px;
    margin: auto;

    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-k-container h1 {
    font-family: Cinzel;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .t-k-container h2 {
    margin-top: 20px;

    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0%;
  }

  .t-k-container h3 {
    margin-top: 20px;

    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-k-container ul {
    margin-top: 20px;
  }

  .t-k-container ul li {
    margin-bottom: 10px;
  }
  .t-k-container p {
    margin-top: 20px;
  }
}

.t-k-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: #0e0e0e;
}

.t-k-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.t-k-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.t-k-footer-copyright {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffffcc;
}
.t-k-footer-div {
  display: flex;
  flex-direction: column;

  gap: 32px;
}
.t-k-footer-links {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #f6f1e9;
}
.t-k-footer-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1205px) {
  .t-k-footer-div {
    display: flex;
    flex-direction: row;

    gap: 470px;
  }
  .t-k-footer-links {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .t-k-footer-container {
    width: 1440px;
    padding: 60px 108px;

    gap: 60px;
  }

  .t-k-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 32px;
  }

  .t-k-footer-text {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .t-k-footer-copyright {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.t-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: #f5f5f5;

  z-index: 1000;
  display: none;
}

.t-k-cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #121212;
}

.t-k-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.t-k-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #121212;
  width: 343px;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 4px;
  border-width: 1px;
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
}

.t-k-cookie-button:hover {
  background: #121212;

  color: #fffaf4;
}
#accept-cookies {
  background: #47663b;
  border: none;
  color: #ffffff;
}
#accept-cookies:hover {
  background: #2f4427;

  color: #ffffff;
}

.t-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1205px) {
  .t-k-cookie-popup-container {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
  }
  .t-k-cookie-button {
    width: 184px;
    height: 56px;

    padding-top: 16px;

    padding-bottom: 16px;
    border-radius: 4px;
    border-width: 1px;
  }

  .t-k-cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;

    text-align: left;
    width: 808px;
  }

  .t-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .t-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
